<div class="form-container">
  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label for="name">Project Name:</label>
          <input id="name" formControlName="name" name="name" class="form-control" />
      </div>
      <div class="form-group">
          <label for="frontend">Frontend Technology:</label>
          <input id="frontend" formControlName="front_end" name="frontend" class="form-control" />
      </div>
      <div class="form-group">
          <label for="backend">Backend Technology:</label>
          <input id="backend" formControlName="back_end" name="backend" class="form-control" />
      </div>
      <div class="form-group">
          <label for="start_date">Start Date:</label>
          <input id="start_date" type="date" formControlName="start_date" name="start_date" class="form-control" />
      </div>
      <div class="form-group">
          <label for="end_date">End Date:</label>
          <input id="end_date" type="date" formControlName="end_date" name="end_date" class="form-control" />
      </div>
      <button type="submit" class="btn primary-btn">Add</button>
  </form>


<app-confirmation *ngIf="openDialog" [project]="projectForm.value" (confirmed)="onDialogConfirmed()" (cancelled)="onDialogCancelled()"></app-confirmation>
</div>