

<div class="full">
  <table class="employee-table" *ngIf="employees$ | async as employees">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email ID</th>
        <th>Position</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.position }}</td>
        <td>
          <button (click)="deleteEmployees(employee.id)" class="delete-button">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

