<body>

  <div class="employee-list" >
      <h2>Employee List</h2>
      <div *ngIf="employees$ | async as employees">
          <ul>
              <li *ngFor="let employee of employees">
                  <span class="employee-info">
                      Name: {{ employee.name }} <br />
                      EmailId: {{ employee.email }} <br />
                      Position: {{ employee.position }}
                  </span>
                  <button (click)="deleteEmployees()" class="delete-button">Delete</button>
              </li>
          </ul>
      </div>
  </div>
</body>
