<body>
  <div>
    <div class="login-container">
      <div class="login-box">
        <div class="heading"></div>
        <h1>Bytestrone</h1>
        <div>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="login_form-group">
              <div class="inputfields"><label for="email">Email</label></div>
              <input id="email" formControlName="email" name="email" placeholder="Enter email">
              <br>
            </div>
            <div class="login_form-group">
              <div class="content">
                <div class="inputfields"><label for="password">Password</label><br></div>
                <input id="password" formControlName="password" name="password" placeholder="Enter password..."
                  type="password">
              </div>
            </div>
            <br>
            <button type="submit" class="btn primary-btn">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
