

.homepage {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a2e;
  color: white;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.navbar {
  width: 100%;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .icons {
  display: flex;
  gap: 20px;
  margin-left:2%;
  margin-bottom: 20%;
}

.navbar .icons a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;

}

.header {
  width: 100%;
  text-align: center;
  margin-top: -20%;
}

.header h1 {
  color: #0fa863;
}

.header .search-container {
  margin-top: 20px;
}

.header .search-bar {
  background-color: #445e6c;
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 5px;
  color: #f3f2f0;
  font-weight: 500;
}

.header .chart {
  margin-top: 20px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 93px;

}

.box {
  background-color: #24303e;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 150px;
  text-align: center;
  margin: 10px;
  transition: transform 0.2s;
}

.box:hover {
  transform: translateY(-5px);
}

.box:active {
  transform: translateY(0);
}

.box-content {
  color: #e0e0e0;
}

.box h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.box .icon {
  font-size: 3em;
  margin-bottom: 10px;
}

.box .bar {
  width: 50px;
  height: 10px;
  background-color: #ffcc00;
  border-radius: 5px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@media (max-width: 768px) {
  .box {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .box {
    width: 100%;
  }

  .header .search-bar {
    width: 90%;
  }
}



